<ion-header [mode]="platform">
  <ion-toolbar [mode]="platform" color="tertiary">
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false" class="layout">
  <ion-progress-bar [mode]="platform" color="tertiary" type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" [disabled]="isLoading">
    <ion-refresher-content
      pullingIcon="{{refreshingAttribute}}"
      pullingText="Потяните вниз"
      refreshingSpinner="{{refreshingAttribute}}"
      refreshingText="Обновление"
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="profile">
    <ng-container *ngIf="currentUser$ | async; let currentUser">
      <div class="profile profile__info">
        <div class="personal-info">
          <ion-item lines="none" [mode]="platform">
            <ion-avatar class="profile-avatar" (click)="uploadPhoto(currentUser?.id)">
              <ion-img *ngIf="currentUser?.photoPath; else defaultPhoto" [src]="apiUrl + currentUser?.photoPath"></ion-img>
            </ion-avatar>
            <ion-label [mode]="platform" class="ion-margin-start">
                <ion-text [mode]="platform">
                  {{currentUser?.firstName}}
                </ion-text>
              <br>
                <ion-text [mode]="platform">
                  {{currentUser?.lastName}}
                </ion-text>
              <br>
                <ion-text [mode]="platform">
                  {{currentUser?.birthDate | date: 'dd.MM.yyyy'}}
                </ion-text>
            </ion-label>
          </ion-item>
          <ion-item [mode]="platform" lines="none" *ngIf="currentUser?.about">
            <ion-label [mode]="platform">
              <ion-text [mode]="platform">
                {{currentUser?.about}}
              </ion-text>
            </ion-label>
          </ion-item>
        </div>
        <div class="profile-actions">
          <ion-icon [mode]="platform" name="heart" color="danger" class="actions" (click)="navigateToFavorite()"></ion-icon>
          <ion-icon [mode]="platform" name="settings-outline" class="actions" (click)="navigateToSetting()"></ion-icon>
        </div>
      </div>
      <div class="profile profile__contacts">
        <ion-item lines="none" [mode]="platform" class="ion-margin-top profile-contacts" (click)="navigateToContact()">
          <ion-label [mode]="platform">
            <h2 class="ion-no-margin ion-text-center">
              <ion-text [mode]="platform" class="ion-no-margin">
                {{currentUser?.following?.length}}
              </ion-text>
            </h2>
            <h2 class="ion-no-margin ion-text-center">
              <ion-text [mode]="platform" class="ion-no-margin">
                Подписки
              </ion-text>
            </h2>
          </ion-label>
          <ion-label [mode]="platform">
            <h2 class="ion-no-margin ion-text-center">
              <ion-text [mode]="platform" class="ion-no-margin">
                {{currentUser?.followers?.length}}
              </ion-text>
            </h2>
            <h2 class="ion-no-margin ion-text-center">
              <ion-text [mode]="platform" class="ion-no-margin">
                Подписчики
              </ion-text>
            </h2>
          </ion-label>
        </ion-item>
      </div>
      <div class="profile profile__img">
        <img src="assets/svg/profile.svg" width="300rem" height="300rem" alt="Изображение профиля">
      </div>
    </ng-container>
  </div>
</ion-content>

<ng-template #defaultPhoto>
  <img src="assets/default-profile.png" alt="Изображение профиля по умолчанию">
</ng-template>
