.login {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: center;

  &__logo {
    flex: 1;
    align-items: center;
    justify-content: end;
  }

  &__form {
    flex: 5;
    align-items: center;
    justify-content: center;
  }

  &__actions {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

.logo-text {
  font-family: 'Rasa', serif;;
  font-size: 3rem;
  color: #0000CC;
}

.login-logo-text {
  font-family: 'Rasa', serif;;
  font-size: 3rem;
}

.login-actions {
    flex: 1;
}

.credential {
  width: 20rem;
}

.login-background {
  --background: #5260ff;
  --overflow: hidden;
}

.login-action-button {
  width: 9rem;
}

.credential-item {
  border-radius: 5rem;
}
