.slide {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__img {
    flex: 2;
  }

  &__text {
    flex: 1;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-text {
  font-size: 1.5rem;
}

.slide-button {
  width: 8rem;
}
