.user {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;

  &__info {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &__contacts {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__actions {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  &__resources {
    flex: 6;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}

.user-personal-info {
  flex: 1;
}

.user-profile-avatar {
  width: 6rem;
  height: 6rem;
}

.user-profile-contacts {
  width: 15rem;
}

.user-profile-action {
  width: 9rem;
}
