<ion-header [mode]="platform">
  <ion-segment [mode]="platform" value="PERSONAL" (ionChange)="chooseResourceList()">
    <ion-segment-button [mode]="platform" value="PERSONAL">
      <ion-label [mode]="platform">
        <ion-text [mode]="platform">
          Личные
        </ion-text>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button [mode]="platform" value="INTERESTED">
      <ion-label [mode]="platform">
        <ion-text [mode]="platform">
          Интересующие
        </ion-text>
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content class="layout">
  <ion-progress-bar [mode]="platform" color="tertiary" type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  <div class="resource-list">
    <resource-list
      *ngIf="isPersonal; else interestedResource"
      [resourceList]="personalResourceList"
      [platform]="platform"
      [isLoading]="isLoading"
      (onDeleteResource)="showAlert($event, true)"
      (onOpenResourceViewModal)="openResourceViewModal($event)"
      (onOpenResourceEditModal)="openResourceEditModal($event)"
    >
    </resource-list>
  </div>
</ion-content>

<ng-template #interestedResource>
  <resource-list
    [resourceList]="interestedResourceList"
    [platform]="platform"
    [isLoading]="isLoading"
    (onDeleteResource)="showAlert($event, false)"
    (onOpenResourceViewModal)="openResourceViewModal($event)"
    (onOpenResourceEditModal)="openResourceEditModal($event)"
  >
  </resource-list>
</ng-template>
