<ion-header [mode]="platform">
  <ion-toolbar [mode]="platform" color="tertiary">
  </ion-toolbar>
  <ion-segment [mode]="platform" value="PERSONAL" (ionChange)="chooseResourceList()">
    <ion-segment-button [mode]="platform" value="PERSONAL">
      <ion-label [mode]="platform">
        <ion-text [mode]="platform">
          Личные
        </ion-text>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button [mode]="platform" value="INTERESTED">
      <ion-label [mode]="platform">
        <ion-text [mode]="platform">
          Интересующие
        </ion-text>
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content [ngClass]="{
  'layout': (isPersonal && !personalResourceList?.length) || (!isPersonal && !interestedResourceList?.length)
}" [scrollY]="(isPersonal && personalResourceList?.length) || (!isPersonal && interestedResourceList?.length)">
  <ion-progress-bar [mode]="platform" color="tertiary" type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
    <resource-list
      *ngIf="isPersonal; else interestedResource"
      [resourceList]="personalResourceList"
      [platform]="platform"
      [isLoading]="isLoading"
      (onDeleteResource)="showAlert($event)"
      (onOpenResourceViewModal)="openResourceViewModal($event)"
      (onOpenResourceEditModal)="openResourceEditModal($event)"
      (onUploadImage)="uploadImage($event)"
    >
    </resource-list>
</ion-content>

<ng-template #interestedResource>
  <resource-list
    [resourceList]="interestedResourceList"
    [platform]="platform"
    [isLoading]="isLoading"
    (onDeleteResource)="showAlert($event)"
    (onOpenResourceViewModal)="openResourceViewModal($event)"
    (onOpenResourceEditModal)="openResourceEditModal($event)"
    (onUploadImage)="uploadImage($event)"
  >
  </resource-list>
</ng-template>
