<ion-header [mode]="platform">
  <ion-toolbar [mode]="platform">
    <ion-buttons slot="start">
      <ion-back-button [mode]="platform" [text]="'Назад'" [disabled]="isLoading" [defaultHref]="'login'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false" class="layout">
  <div class="password">
    <ion-text class="password password__logo logo-text" [mode]="platform">Bookberry</ion-text>
    <div class="password password__form">
      <form [formGroup]="form" (ngSubmit)="restorePassword()">
        <ion-item [mode]="platform" lines="inset">
          <ion-label color="tertiary" [mode]="platform" position="floating">
            <ion-text [mode]="platform">
              Электронная почта
            </ion-text>
          </ion-label>
          <ion-input [mode]="platform" inputmode="email" clear-input type="email" [formControl]="form.controls.username">
          </ion-input>
        </ion-item>
        <div
          *ngIf="form.controls.username.errors && (form.controls.username.dirty || form.controls.username.touched)"
        >
          <ion-text [mode]="platform" *ngIf="form.controls.username.errors.required" color="danger">
            Обязательное поле
          </ion-text>
          <ion-text [mode]="platform" *ngIf="form.controls.username.errors.pattern" color="danger">
            Неверный формат почты
          </ion-text>
        </div>
        <ion-button [mode]="platform" color="tertiary" type="submit" [disabled]="isLoading" class="password-button ion-margin-top">
          <ion-text [mode]="platform">
            Отправить
          </ion-text>
        </ion-button>
      </form>
    </div>
    <div class="password password__img">
      <img src="assets/svg/forgot_password.svg" width="300rem" height="300rem" alt="Изображение потери пароля">
    </div>
  </div>
</ion-content>
