<ion-tabs>
  <div
    *ngIf="!isConnected"
    class="ion-text-center danger-background"
  >
    <ion-text [mode]="platform" color="light">
      Связь потеряна
    </ion-text>
  </div>
  <ion-tab-bar color="tertiary" [mode]="platform" slot="bottom">
    <ion-tab-button tab="profile" [mode]="platform">
      <ion-icon [mode]="platform" name="person"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="resources" [mode]="platform">
      <ion-icon [mode]="platform" name="book"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="add-resource" [mode]="platform">
      <ion-icon [mode]="platform" name="add"></ion-icon>
    </ion-tab-button>
    <ion-tab-button [mode]="platform" tab="chat">
      <ion-icon [mode]="platform" name="chatbubbles"></ion-icon>
<!--      <ion-badge
        *ngIf="totalUnreadMessages"
        mode="{{devicePlatform}}"
        color="danger"
      >
        {{totalUnreadMessages}}
      </ion-badge>-->
    </ion-tab-button>
    <ion-tab-button [mode]="platform" tab="search">
      <ion-icon [mode]="platform" name="search" class="tab-icon"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
