<ion-header [mode]="platform">
  <ion-toolbar [mode]="platform">
    <ion-buttons slot="start">
      <ion-back-button [mode]="platform" [text]="'Назад'" [defaultHref]="'tabs/profile'"></ion-back-button>
    </ion-buttons>
    <ion-title><ion-text [mode]="platform">Настройки</ion-text></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false" class="layout">
  <div class="setting">
    <div class="setting setting__options">
      <ion-list [mode]="platform" lines="full">
        <ion-item [mode]="platform" lines="full" (click)="openProfileEditModal()">
          <ion-label [mode]="platform" class="ion-margin-start">
            <ion-text [mode]="platform">
              Редактировать профиль
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-item [mode]="platform" lines="full" (click)="openPasswordChangeModal()">
          <ion-label [mode]="platform" class="ion-margin-start">
            <ion-text [mode]="platform">
              Изменить пароль
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="setting setting__logout">
      <ion-button color="danger" [mode]="platform" class="logout-button" (click)="logout()">
        <ion-text [mode]="platform">
          Выйти
        </ion-text>
      </ion-button>
    </div>
  </div>
</ion-content>
