<cdk-virtual-scroll-viewport
  *ngIf="resourceList.length !== 0; else noResourceList"
  itemSize="56"
  minBufferPx="900"
  maxBufferPx="1350"
>
  <ion-item lines="full" [mode]="platform" *cdkVirtualFor="let resource of resourceList; let i = index; trackBy: trackById; let idOdd = odd"
            [class.odd]="idOdd" (click)="onOpenResourceViewModal.emit(resource)">
    <ion-label [mode]="platform">
      <ion-text [mode]="platform">
        {{resource?.title}} | {{resource?.author}}
      </ion-text>
    </ion-label>
  </ion-item>
</cdk-virtual-scroll-viewport>
<ng-template #noResourceList>
  <div class="resource-list">
    <div class="resource-list resource-list__empty">
      <ion-text [mode]="platform" class="ion-margin-bottom">
        Список ресурсов пуст
      </ion-text>
      <img src="assets/svg/empty.svg" width="300rem" height="300rem" alt="Нет результатов">
    </div>
  </div>
</ng-template>
