<ion-virtual-scroll class="resource-list resource-list__list" [items]="resourceList" [trackBy]="trackById" *ngIf="resourceList?.length; else noResourceList">
    <ion-item lines="full" [mode]="platform" *virtualItem="let resource" (click)="onOpenResourceViewModal.emit(resource)">
      <ion-label [mode]="platform">
        <ion-text [mode]="platform">
          {{resource?.title}} | {{resource?.author}}
        </ion-text>
      </ion-label>
    </ion-item>
</ion-virtual-scroll>

<ng-template #noResourceList>
  <div class="resource-list resource-list__empty">
    <ion-text [mode]="platform" class="ion-margin-bottom">
      Список пуст
    </ion-text>
    <img src="assets/svg/empty.svg" width="300rem" height="300rem" alt="Нет результатов">
  </div>
</ng-template>
