<ion-content [scrollY]="false" class="layout">
  <ion-progress-bar [mode]="platform" type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  <div class="login">
    <ion-text class="login login__logo logo-text" [mode]="platform">Bookberry</ion-text>
    <div class="login login__form">
      <form [formGroup]="form" (ngSubmit)="login()">
        <ion-item [mode]="platform" lines="inset" class="credential">
          <ion-label color="tertiary" [mode]="platform" position="floating">
            Имя пользователя
          </ion-label>
          <ion-input [mode]="platform" clear-input type="email" inputmode="email" [formControl]="form?.controls?.username"
          >
          </ion-input>
        </ion-item>
        <ion-item [mode]="platform" lines="inset" class="credential">
          <ion-label color="tertiary" [mode]="platform" position="floating">
            Пароль
          </ion-label>
          <ion-input [mode]="platform" clear-input type="password" [formControl]="form?.controls?.password"
          >
          </ion-input>
        </ion-item>
        <ion-button type="submit" [mode]="platform" color="tertiary" class="ion-margin-top login-button">
          Войти
        </ion-button>
      </form>
    </div>
    <div class="login login__actions">
      <div class="login-actions">
        <ion-text [mode]="platform" (click)="navigateToPasswordRestore()">Забыли пароль?</ion-text>
      </div>
      <div class="login-actions">
        <ion-button [mode]="platform" color="tertiary" (click)="navigateToRegistration()">Регистрация</ion-button>
      </div>
    </div>
  </div>
</ion-content>
