<ion-header [mode]="platform">
  <ion-toolbar [mode]="platform">
    <ion-title><ion-text [mode]="platform">Изменить пароль</ion-text></ion-title>
    <ion-buttons slot="end">
      <ion-button [mode]="platform" (click)="dismiss()" [disabled]="isLoading">Закрыть</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false" class="layout">
  <ion-progress-bar [mode]="platform" type="indeterminate" *ngIf="isLoading" color="tertiary"></ion-progress-bar>
  <div class="password-change">
    <div class="password-change password-change__form">
      <form [formGroup]="form" (ngSubmit)="changePassword()">
        <ion-item [mode]="platform" lines="inset" class="credential">
          <ion-label color="tertiary" [mode]="platform" position="floating">
            <ion-text [mode]="platform">
              Текущий пароль
            </ion-text>
          </ion-label>
          <ion-input [mode]="platform" clear-input type="password" [formControl]="form.controls.oldPassword">
          </ion-input>
        </ion-item>
        <div
          *ngIf="form.controls.oldPassword.errors && (form.controls.oldPassword.dirty || form.controls.oldPassword.touched)"
        >
          <ion-text *ngIf="form.controls.oldPassword.errors.required" [mode]="platform" color="danger">
            Обязательное поле
          </ion-text>
        </div>
        <ion-item [mode]="platform" lines="inset">
          <ion-label color="tertiary" [mode]="platform" position="floating">
            <ion-text [mode]="platform">
              Новый пароль
            </ion-text>
          </ion-label>
          <ion-input [mode]="platform" clear-input type="password" [formControl]="form.controls.newPassword">
          </ion-input>
        </ion-item>
        <div *ngIf="form.controls.newPassword.errors && (form.controls.newPassword.dirty || form.controls.newPassword.touched)">
          <ion-text *ngIf="form.controls.newPassword.errors.required" [mode]="platform" color="danger">
            Обязательное поле
          </ion-text>
          <ion-text *ngIf="form.controls.newPassword.errors.minlength" [mode]="platform" color="danger">
            Минимальная длина 8 символов
          </ion-text>
        </div>
        <ion-item [mode]="platform" lines="inset">
          <ion-label color="tertiary" [mode]="platform" position="floating">
            <ion-text [mode]="platform">
              Повторите новый пароль
            </ion-text>
          </ion-label>
          <ion-input [mode]="platform" clear-input type="password" [formControl]="form.controls.newPasswordConfirm">
          </ion-input>
        </ion-item>
        <div
          *ngIf="form.controls.newPasswordConfirm.errors && (form.controls.newPasswordConfirm.dirty || form.controls.newPasswordConfirm.touched)"
        >
          <ion-text *ngIf="form.controls.newPasswordConfirm.errors.required" [mode]="platform" color="danger">
            Обязательное поле
          </ion-text>
          <ion-text *ngIf="form.controls.newPasswordConfirm.errors.minlength" [mode]="platform" color="danger">
            Минимальная длина 8 символов
          </ion-text>
        </div>
        <ion-button [mode]="platform" class="password-change-button ion-margin-top" [disabled]="isLoading" type="submit" color="tertiary">
          <ion-text [mode]="platform">
            Сохранить
          </ion-text>
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
