<cdk-virtual-scroll-viewport
  *ngIf="resourceList.length !== 0; else noResourceList"
  itemSize="56"
  minBufferPx="900"
  maxBufferPx="1350"
>
  <ion-item-sliding *cdkVirtualFor="let resource of resourceList; let i = index; trackBy: trackById; let idOdd = odd"
                    [class.odd]="idOdd">
    <ion-item-options side="start">
      <ion-item-option [mode]="platform" color="primary" [disabled]="isLoading" (click)="onUploadImage.emit({id: resource.id, index: i})">
        <ion-text [mode]="platform">
          Изображение
        </ion-text>
      </ion-item-option>
      <ion-item-option [mode]="platform" color="warning" [disabled]="isLoading" (click)="onOpenResourceEditModal.emit(resource)">
        <ion-text [mode]="platform">
          Редактировать
        </ion-text>
      </ion-item-option>
    </ion-item-options>
    <ion-item lines="full" [mode]="platform" (click)="onOpenResourceViewModal.emit(resource)">
      <ion-label [mode]="platform">
        <ion-text [mode]="platform">
          {{resource?.title}} | {{resource?.author}}
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option [mode]="platform" color="danger" [disabled]="isLoading" (click)="onDeleteResource.emit({id: resource.id, isPersonal: resource.personal, index: i})">
        <ion-text [mode]="platform">
          Удалить
        </ion-text>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</cdk-virtual-scroll-viewport>

<ng-template #noResourceList>
  <div class="resource-list">
    <div class="resource-list resource-list__empty">
      <ion-text [mode]="platform" class="ion-margin-bottom">
        Список ресурсов пуст
      </ion-text>
      <img src="assets/svg/empty.svg" width="300rem" height="300rem" alt="Нет результатов">
    </div>
  </div>
</ng-template>
