<ion-header [mode]="platform">
  <ion-toolbar [mode]="platform">
    <ion-buttons slot="start">
      <ion-back-button [mode]="platform" [text]="'Назад'" [disabled]="isLoading" [defaultHref]="'tabs/profile'"></ion-back-button>
    </ion-buttons>
    <ion-title><ion-text [mode]="platform">Избранные</ion-text></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="{
  'layout': !resourceList?.length
}" [scrollY]="resourceList?.length">
  <cdk-virtual-scroll-viewport
    *ngIf="resourceList?.length; else noFavoriteResources"
    itemSize="56"
    minBufferPx="900"
    maxBufferPx="1350"
  >
    <ion-item-sliding *cdkVirtualFor="let resource of resourceList; let i = index; trackBy: trackById; let idOdd = odd"
                      [class.odd]="idOdd">
      <ion-item lines="full" [mode]="platform" (click)="openResourceViewModal(resource)">
        <ion-label [mode]="platform">
          <ion-text [mode]="platform">
            {{resource?.resource?.title}} | Автор: {{resource?.resource?.author}}
          </ion-text>
          <br>
          <ion-text [mode]="platform" color="medium">
            Владелец: {{resource?.resource?.owner?.firstName}}
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option [mode]="platform" color="danger" [disabled]="isLoading" (click)="unlikeResource(resource)">
          <ion-text [mode]="platform">
            Удалить
          </ion-text>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </cdk-virtual-scroll-viewport>
</ion-content>

<ng-template #noFavoriteResources>
  <div class="favorite">
    <div class="favorite favorite__empty">
      <ion-text [mode]="platform" class="ion-margin-bottom">
        Список избранных пуст
      </ion-text>
      <img src="assets/svg/empty.svg" width="300rem" height="300rem" alt="Нет результатов">
    </div>
  </div>
</ng-template>
